.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-around;
}

.left-side {
  width: 40%;
}

.right-side {
  width: 50%;
}

.post-wrapper {
  cursor: pointer;
  margin: 5px auto;
  width: 70%;
  background: bisque;
  border-radius: 10px;
}

.btn-wrap {
  margin: 10px;
}

.post-wrapper-comment {
  cursor: pointer;
  margin: 5px auto;
  border-radius: 10px;
  background: darkkhaki;
}

.wrapper-site {
  flex-direction: column;
  width: 100%;
  background: gray;
  opacity: 0.8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  width: 180px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.meet {
  text-align: center;
}

.ships-wrapper {
  /*max-width: 1140px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ship-wrapper {
  max-width: 300px;
  background: moccasin;
  margin: 10px;
  cursor: pointer;

}

.pop-up {
  display: block;
  position: fixed;
  width: 500px;
  height: 400px;
  background: darkslateblue;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.pop-up {
  display: flex;
  justify-content: center;
}

.ship-wrapper-popUp {
  font-size: 20px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: bold;
  margin-top: 10px;
}